/*
********************************************************************************
*** ASCII
********************************************************************************
*/

html {
	background:				black;
	font-family:			Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

body {
	position:				absolute;
	margin:					0;
	background:				black;
	color:					white;
	width:					100%;
	height:					100vh;
	overflow:				hidden;
	display:				grid;
	grid-template-columns:	100%;
	grid-template-rows:		100%;
}

.ascii {
	display:				block;
	margin:					auto;
	-webkit-user-select:	none;
	-moz-user-select:		none;
	-ms-user-select:		none;
	user-select:			none;
}

video {
	display:				none;
}

canvas {
	display:				none;
}

#player {
	margin:					auto;
}

#player_video {
	display:				grid;
	grid-template-columns:	100%;
	grid-template-rows:		100%;
}

/*
********************************************************************************
*** CONTROLS
********************************************************************************
*/

#input_video {
	position:				fixed;
	left:					50%;
	top:					50%;
}

#player_controls_container {
	position:				fixed;
	width:					100%;
	bottom:					0;
}

#player_controls {
	width:					800px;
	margin:					auto;
	opacity:				0;
	transition:				0.3s;
	background:				#000A;
}

.player_controls_invert {
	background:				#FFFA !important;
}

#player_controls_seek {
	width:					100%;
}

#time_cursor {
	position:				absolute;
	top:					-10px;
	visibility:				hidden;
	background:				black;
	color:					white;
	border:					1px solid white;
}

.time_cursor_invert {
	background:				white !important;
	color:					black !important;
	border:					1px solid black !important;
}

/*
******************************
*** BUTTONS
******************************
*/

button {
	font-family:			Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
	white-space:			pre;
	text-decoration:		none;
	background:				black;
	color:					white;
	border:					1px solid white;
	font-size:				150%;
	transition:				0.1s;
}

button:hover {
	background:				white;
	color:					black;
	cursor:					pointer;
}

.button_invert {
	border:					1px solid black;
	background:				white;
	color:					black;
}

.button_invert:hover {
	background:				black;
	color:					white;
}

#buttons_container {
	padding:				0 1em 1em 1em;
	display:				flex;
	justify-content:		space-between;
}

#buttons_container button {
	margin:					auto 0 auto 0;
}

#zoom_container {
	display:				flex;
	justify-content:		space-between;
	flex-wrap:				wrap;
}

#b_zoom, #b_unzoom {
	width:					47%;
}

#b_reset_zoom {
	flex-grow:				1;
}

/*
******************************
*** SEEK
******************************
*/

input[type=range] {
	height:					26px;
	-webkit-appearance:		none;
	margin:					10px 0;
	width:					100%;
	background:				#0000;
}
input[type=range]:focus {
	outline:				none;
}
input[type=range]::-webkit-slider-runnable-track {
	width:					100%;
	height:					5px;
	cursor:					pointer;
	animate:				0.2s;
	background:				#FFF;
	border-radius:			1px;
	border:					none;
}
input[type=range]::-webkit-slider-thumb {
	border:					none;
	height:					20px;
	width:					10px;
	border-radius:			10px;
	background:				#FFF;
	cursor:					pointer;
	-webkit-appearance:		none;
	margin-top:				-7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background:				#FFF;
}
input[type=range]::-moz-range-track {
	width:					100%;
	height:					5px;
	cursor:					pointer;
	animate:				0.2s;
	background:				#FFF;
	border-radius:			1px;
	border:					none;
}
input[type=range]::-moz-range-thumb {
	border:					none;
	height:					20px;
	width:					10px;
	border-radius:			10px;
	background:				#FFF;
	cursor:					pointer;
}
input[type=range]::-ms-track {
	width:					100%;
	height:					5px;
	cursor:					pointer;
	animate:				0.2s;
	background:				transparent;
	border-color:			transparent;
	color:					transparent;
}
input[type=range]::-ms-fill-lower {
	background:				#FFF;
	border:					none;
	border-radius:			2px;
}
input[type=range]::-ms-fill-upper {
	background:				#FFF;
	border:					none;
	border-radius:			2px;
}
input[type=range]::-ms-thumb {
	margin-top:				1px;
	border:					none;
	height:					20px;
	width:					10px;
	border-radius:			10px;
	background:				#FFF;
	cursor:					pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background:				#FFF;
}
input[type=range]:focus::-ms-fill-upper {
	background:				#FFF;
}
